@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

/*font-family: 'Nixie One', cursive;*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Nixie One';
}

body {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
    /*background: linear-gradient(120deg, #ffe53bd8, #ff2525da);*/
    display: flex;
    background-position: center;

    align-items: center;
    justify-content: center;
}
.relogio {
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
}

.relogio div {

    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eb2d2d;
    background: rgba(5, 5, 5, .9);
    box-shadow: 4px 24px 12px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
    margin-bottom: 30%;
}

.relogio span {

    font-weight: bolder;
    text-shadow: 0px 0px 8px rgb(255, 1, 1);
    color: rgba(236, 165, 0, 1);
    font-size: 80px;


}

.relogio span.tempo {
    font-size: 10px;
}


/* footer*/

footer {
    justify-content: center;
    display: flex;

}

.footer-social a {
    text-decoration: none;
    background: none;
    
    

}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10% 10% 0;
    
}

.footer_git {
    border-radius: 99%;
    font-size: 50px;
    margin-right: 20%;
    margin-bottom: 20%;
    margin-top: 60%;
    opacity:0.5;
    
    
}

.footer_link {
    border-radius: 23%;
    font-size: 50px;
    margin-left: 20%;
    margin-bottom: 20%;
    margin-top: 60%;
    opacity:0.5;
    
   
}

.footer_link:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 12px #ffff);
    fill: white;
    opacity:1;
    

}

.footer_git:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 12px #ffff);
    fill: white;
    opacity:1;
    
    
    
}

@media (max-width: 600px) {
    .relogio {
        flex-direction: column;
        width: 20%;
        height: 20%;

}