@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
/*font-family: 'Nixie One', cursive;*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Nixie One' ;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}
.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    

}
.relogio div{
    
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:rgba(5, 5, 5, .9) ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    
    font-weight: bolder;
    text-shadow: 0px 0px 8px rgb(255, 1, 1);  
	color: rgba(236,165,0,1);
	font-size: 80px;

    
}
.relogio span.tempo{
    font-size: 10px;
}


/* footer*/

footer{
    justify-content: center;
    display: flex;
    
}

#footer-social{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    
    
   
}
#footer-social a{
    text-decoration: none;
}
.footer_git{
    border-color: rgb(158, 57, 57);
    justify-content: center;
    font-size: 4rem;
    position: relative;
    align-items: center;
    display: flex;
    width: 6rem;
    height: 6rem;
    color: rgb(225, 231, 225);  
}
.footer_link{
    border-color: rgb(158, 57, 57);
    justify-content: center;
    font-size: 4rem;
    position: relative;
    align-items: center;
    display: flex;
    width: 6rem;
    height: 6rem;
    color: rgb(225, 231, 225);
    
}

.footer_link:hover{
    transform: scale(1.2);
   
}
.footer_git:hover{
    transform: scale(1.2);
    
}